body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}
.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(54, 52, 52);
    border-radius: 1px;
    box-shadow: 0px 0px 10px;
}
input {
    width: 92%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 0px 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.btn {
    width: 60px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #ac734f;
    color: white;
    border-radius: 5px;
   
}
.btn:hover {
    background-color: #7e6253;
}